@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,800;1,400;1,500;1,600;1,700&display=swap");


body{
  font-family: Raleway, sans-serif;
  margin: 0%;
  font-size: 1.5em;
  text-align: center;
  background-color: #a680d7;
  color: white;
}